{% extends "navbar.html" %}
{% load static %}

{% if user.patient.is_patient  %}
<div class="container ml-5 mr-5">
        <button type="button" class="btn btn-outline-secondary" data-toggle="collapse" data-target="#demo">Pay Rs 200 as fee to {{consultation.doctor.name}} for consultation </button>
                <div id="demo" class="collapse">
                    
                  <form action="{% url 'payment' consultation.id %}" method="POST"> 
                     {% csrf_token %}
                      <div class="form-group mt-2">
                             
                           
                                </div>
                              </div>
                             
                            

                              <br>
                            
                      </div>
                      <button type="submit" class="btn btn-primary">Pay Rs 200</button>
                  </form>

                </div>

</div>
{% endif %}